/* Mobile Version */
@media (max-width: 520px) {
    .screen {
      display: none;
    }
    .mobile {
      display: block;
    }
  
    body {
      overflow-x: hidden;
    }
  
    header,
    .about_us,
    .luniart_text,
    .sizes-slider,
    .obligations,
    .video-process,
    .video-slider,
    .slider-button,
    .achivments_mobile,
    .comparison,
    .order,
    .get-consult-mobile,
    .order_now-bottom {
      padding-right: 10px;
      padding-left: 10px;
    }
  
    /* Header */
  
    header.header {
      padding-bottom: 40px;
      height: fit-content;
    }
  
    /* Header Text Block */
    .header-text {
      padding-top: 40px;
      padding-bottom: 15px;
    }
  
    /* Images Header Slider */
  
    .header .images-slider {
      position: relative;
      z-index: 4;
    }
  
    .images-slider {
      margin-bottom: 30px;
    }
  
    /* Sliders General Settings */
  
    /* Slider settings */
  
    /* Siiders Items (Items Max Width) and Ограничивающая Оболочка */
    .slider_photo_item,
    .slider_video_item,
    .slider_size_item img {
      max-width: 390px;
      width: 100%;
    }
  
    .slider_video_item {
      max-height: 490px;
    }
  
    /* Distance Between 2 Items */
  
    .slider_photo_item + .slider_photo_item,
    .slider_video_item + .slider_video_item,
    .slider_size_item + .slider_size_item {
      margin-left: 0px;
    }
  
    /* Photos Slider */
    .slider_photo {
      margin-bottom: 10px;
    }
  
    /* Slider Video Button */
  
    .slider_video_button {
      max-width: 150px;
    }
  
    /* Text Settings */
    .slider_item_text {
      margin-top: 20px;
    }
  
    /* Button Under The Slider With Photos */
  
    .slider_photo_button {
      max-width: 210px;
    }
  
    /* Button Want A Paint */
  
    .order_now-button {
      width: 100%;
      box-sizing: border-box;
      margin-top: 50px;
      margin-bottom: 17px;
    }
  
    .order_now-button button {
      max-width: 240px;
      width: 100%;
      font-size: 22px;
      line-height: 29px;
      max-height: 50px;
      height: 50px;
    }
  
    .cell img {
      width: 25px;
      height: 25px;
    }
  
    /* Bottom order_now section */
  
    /* Section Order Now */
    .order_now-bottom.bottom {
      padding-bottom: 15px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    /* Order Now Button */
    .order_now-bottom.bottom button {
      margin-top: 14px;
    }
  
    /* Choose Language Block */
  
    .languages {
      top: 24px;
      right: 21px;
      width: 70px;
      height: 36px;
      column-gap: 9px;
      padding-left: 7px;
      padding-right: 4px;
    }
  
    .languages a {
      font-size: 16px;
      line-height: 21px;
    }
  
    .languages a.selected-language {
      padding: 3px;
    }
  
    /* Pseudo Eleemnts ( Figures ) */
  
    .left-top-orange {
      width: 87px;
      height: 94px;
      top: 64px;
      left: -20px;
    }
  
    .left-top-orange img {
      transform: rotate(-60deg);
    }
  
    .right-top-white {
      max-width: 319px;
      width: 100%;
      max-height: 340px;
      height: 100%;
      padding-bottom: 0;
    }
    .right-top-blue-mobile {
      width: 130px;
      height: 130px;
      top: 60%;
      right: -100px;
      background-color: #172853;
      border-radius: 50%;
      z-index: 5;
    }
  
    /* Main */
  
    main.main {
      padding-top: 70px;
    }
  
    main::before {
      top: 24px;
      height: 27px;
    }
  
    /* About Us */
  
    .about_us {
      padding-bottom: 0px;
    }
  
    .cv {
      max-width: 376px;
    }
  
    /* Section With Photo */
  
    .about_us .photo_from_header {
      position: relative;
      height: max-content;
      margin-top: 15px;
      margin-bottom: 50px;
    }
  
    /* Cell On Photo */
  
    .about_us .photo_from_header .cell {
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    /* Photo Settings */
  
    .about_us .photo_from_header img:last-child {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  
    /* Luniart Text */
  
    .order_now-bottom {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  
    /* Slider With Sizes  */
    /* Slider Size Text Settings */
  
    .sizes-slider h3 {
      font-size: 28px;
      line-height: 37px;
    }
  
    .sizes-slider .normal_sub {
      font-size: 15px;
      line-height: 20px;
    }
  
    .slider_size_item_text {
      top: 10px;
    }
  
    /* Obligations */
  
    .obligations {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  
    /* Obligations Table */
    .obligations-table {
      margin-top: 20px;
      gap: 50px;
      align-items: center;
    }
  
    /* Obligations Cell */
  
    .obligations .cell {
      position: relative;
    }
  
    /* Image Block Settings */
    .image {
      height: 50px;
      margin-bottom: 3px;
    }
  
    .image img {
      height: 50px;
      width: 50px;
    }
  
    /* Dots After Cells */
  
    .obligations .cell::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      height: 40px;
      border-left: 3px dotted var(--pink-regular);
      color: var(--pink-regular);
      transform: translate(-50%, 100%);
    }
  
    /* Last cell in obligations */
  
    .obligations .cell:last-child:after {
      height: 0px;
      border: none;
    }
  
    /* Video Process Text */
  
    .video-process .middle {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  
    /* Slider With Videos Achivments */
  
    .achivments_mobile {
      background-color: #fbfbfb;
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: 20px;
    }
  
    .achivments_mobile img {
      width: 30px;
      height: 30px;
    }
  
    /* Video SLider With Our Achivments */
    .video-slider-achivment {
      margin-top: 40px;
    }
  
    /* Comparison */
    .comparison {
      margin-top: 14px;
      padding-bottom: 25px;
    }
    .comparison-section {
      flex-direction: column-reverse;
    }
  
    .comparison-images {
      max-width: 460px;
      width: max-content;
      text-align: center;
    }
  
    .comparison-images img {
      min-width: 0;
    }
  
    .parents-comparison-section {
      background-color: #fff;
      padding-top: 0;
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  
    /* Text Under The Comparison */
  
    .text-comparison {
      margin-bottom: 10px;
      max-width: 100%;
    }
  
    /* Button Get Order */
  
    .parents-comparison-section .ellipse,
    .pair-comparison-section .ellipse {
      margin-top: 30px;
    }
  
    .pair-comparison-section button.mobile {
      margin-top: 20px;
    }
  
    .dog-comparison {
      row-gap: 60px;
    }
  
    /* Order */
  
    /* Order Section Caption */
  
    .order-caption {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 25px;
      margin-bottom: 25px;
      background-color: transparent;
    }
  
    .order-caption .large {
      margin-bottom: 5px;
    }
  
    /* Order Section Constructor ( Cards , Peoples etc ) */
  
    .order-constructor {
      padding-top: 0px;
      padding-bottom: 40px;
    }
  
    /* Tabs Section */
  
    .cards-material.mobile {
      column-gap: 0px;
      display: flex;
    }
  
    /* Tabs */
  
    .tab-coal,
    .tab-oil {
      width: 50%;
    }
  
    /* Label */
  
    .tab-label {
      font-size: 20px;
      line-height: 25px;
    }
  
    /* Selected Material */
  
    .card-input:checked ~ label {
      border: none;
      background-color: transparent;
      color: var(--lightgreen-color);
    }
  
    /* Count Peoples */
  
    .constructor-wrapper {
      padding-left: 50px;
    }
  
    .peoples {
      column-gap: 20px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  
    /* Table Cost Size */
  
    .size-tabel {
      padding-top: 15px;
    }
  
    /* Tabel Wrapper Create A Table */
  
    .size-cost-block {
      grid-template-columns: repeat(2, 120px);
      column-gap: 8px;
      row-gap: 10px;
    }
  
    /* Table Cell */
  
    .tabel-size-cell {
      padding: 5px 5px 4px;
      border-radius: 7px;
      max-height: 45px;
    }
  
    /* Top Part Cell */
  
    .top-part-cell {
      padding: 2px 4px;
    }
  
    /* Bottom Part Cell */
  
    .tabel-size-cell .flex-end {
      padding-left: 2px;
      padding-right: 2px;
    }
  
    /* Cell Popular Size */
  
    .cell-popular-size {
      position: relative;
    }
  
    .cell-popular-size::after {
      content: "";
      padding: 0;
    }
  
    /* Get Consult Mobile Section */
  
    .get-consult-mobile {
      display: flex;
      padding: 7px 15px;
      row-gap: 20px;
      background-color: var(--pink-regular);
      margin-bottom: 40px;
    }
  
    .get-consult-mobile-text * {
      color: #fff;
    }
  
    /* Footer */
  
    footer.footer {
      padding: 8px 36px 12px;
    }
  
    .footer .links {
      column-gap: 10px;
    }
  
    .links .links-items {
      column-gap: 2px;
    }
  
    .links .links-items img {
      width: 22px;
      height: 22px;
    }
  
    /* Consult */
  
    /* Our Menu */
    .consult-info {
      max-height: 260px;
      max-width: 200px;
      padding: 8px 34px 16px;
      border-radius: 16px;
    }
  
    /* Palit Image */
    .consult_image {
      max-height: 29px;
      max-width: 29px;
      margin-top: 9px;
      margin-bottom: 9px;
    }
  
    /* Forms Text Inputs */
    .userInfo {
      margin-bottom: 10px;
    }
  
    /* Inputs And Lables*/
    .userInfo-input,
    .userInfo-label {
      font-size: 10px;
      line-height: 13px;
    }
  
    /* Little Animation. Up Lable */
    .userInfo-input:focus + .userInfo-label,
    .userInfo-input:valid + .userInfo-label {
      transform: translateY(-10px) scale(0.8);
    }
  
    .userInfo::after {
      font-size: 10px;
    }
  
    /* Example */
    .userInfo p {
      font-size: 10px;
      line-height: 13px;
      bottom: -13px;
    }
  
    /* How To Connect */
  
    .contact {
      margin-top: 25px;
    }
  
    /* Massangers Block */
    .massangers {
      padding-right: 5px;
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 12px;
      column-gap: 23px;
    }
  
    /* Messangers Icons */
    .massangers img {
      width: 22px;
      height: 22px;
    }
  
    /* Button Submit */
    .submit {
      max-width: 122px;
      max-height: 25px;
      font-size: 15px;
      line-height: 20px;
    }
  
    /* Button Close Menu */
    .close {
      top: 10px;
      right: 10px;
    }
  
    /* Close Image X */
    .close img {
      height: 8px;
      width: 8px;
    }
  }
  
  /* Mobile Version Horizontal */
  @media (max-height: 480px) and (orientation: landscape) {
    .header-photo {
      display: none;
    }
  
    .left-top-orange,
    .left-top-orange {
      height: 50px;
      width: 40px;
    }
    .right-top-blue {
      width: 100px;
      height: 100px;
      top: 40%;
      left: 40%;
    }
    .right-bottom-orange,
    .right-bottom-orange img {
      height: 50px;
      width: 40px;
    }
    .right-bottm-white {
      width: 100px;
      height: 100px;
      top: 60%;
      right: 40%;
    }
  }
  