.keen-slider:not([data-keen-slider-disabled]) {
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.sizes-slider,
.images-slider,
.video-slider {
  position: relative;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.sizes-slider .dots {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.sizes-slider .dots .dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.sizes-slider .dots .dot--active {
  background-color: var(--pink-regular);
}

.arrow {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 50%;
}

.arrow--left {
  background-image: url("../images/sliders/slide-left.webp");
}

.arrow--right {
  background-image: url("../images/sliders/slide-right.webp");
}

.images-slider .arrow {
  transform: translateY(-150%);
}

.video-slider .arrow,
.sizes-slider .arrow {
  transform: translateY(-50%);
}

.arrow--left {
  left: 100px;
}

.arrow--right {
  right: 100px;
}

.slider_photo_item-image {
  display: flex;
  height: 600px;
  width: 100%;
}

.slider_mobile .slider_photo_item {
  display: flex;
}

.slider_mobile .slider_photo_item img,
.slider_photo_item-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

@media (max-width: 1200px) {
  .keen-slider__slide {
    max-height: 500px !important;
    height: 100%;
  }
}
