:root {
  --sub-textcolor: #646464;
  --second-textcolor: #313131;
  --green-color: #4daa6c;
  --lightgreen-color: #4ca96c;
  --orange-color: #feaa43;
  --pink-regular: #ff2257;
}

h1,
h2,
h3,
h4,
p,
label {
  margin-top: 0;
  margin-bottom: 0;
}

.xlarge {
  font-weight: 400;
  font-size: 170px;
  line-height: 227px;
  color: #262626;
}

.large {
  font-size: 40px;
  line-height: 53px;
  color: var(--second-textcolor);
}

.middle {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: var(--sub-textcolor);
}

.normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--second-textcolor);
}

.normal_sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--sub-textcolor);
}

.normal_white {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.normal_order {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--green-color);
}

.small_black {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.xsmall_light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8f8f8f;
}

.percent {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--green-color);
}

.xsmall {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.individual_font {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1d1d1d;
}

.individual_font:hover {
  cursor: grab;
}

.individual_font:active {
  cursor: grabbing;
}

.center_align {
  text-align: center;
}

/* Links */

a {
  text-decoration: none;
}

/* Displaies */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.flex-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Buttons And Labels Hover Effects */

input {
  border: none;
  outline: none;
}

button {
  cursor: grab;
  border: none;
  background-color: transparent;
  padding: 0;
}

button:active {
  cursor: grabbing;
}

label {
  cursor: pointer;
}

button.size-button {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--pink-regular);
}

.ellipse {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  border-radius: 36.5px;
  height: 73px;
  box-sizing: border-box;
  text-align: center;
}

a.ellipse {
  box-shadow: 0 0 4px rgba(141, 107, 20, 0.75);
  color: #fff;
  background-color: var(--pink-regular);
  padding: 10px 20px;
}

.ellipse.white-button {
  color: var(--pink-regular);
  background-color: #fff;
}

.ellipse.pink-button {
  background-color: var(--pink-regular);
  color: #fff;
}

.comparison-button-order {
  max-width: 312px;
  width: 100%;
}

.get-consult {
  width: 550px;
}

@media (min-width: 1700px) and (max-height: 1050px) {
  .xlarge {
    font-size: 150px;
    line-height: 170px;
  }
}

@media (max-width: 1600px) {
  .xlarge {
    font-size: 140px;
    line-height: 160px;
  }

  .large {
    font-size: 30px;
    line-height: 40px;
  }

  .middle {
    font-size: 20px;
    line-height: 27px;
  }

  .normal_sub,
  .normal_order {
    font-size: 15px;
    line-height: 20px;
  }

  .small_black {
    font-size: 15px;
    line-height: 17px;
  }

  .xsmall_light {
    font-size: 14px;
    line-height: 16px;
  }

  .percent {
    font-size: 16px;
    line-height: 18px;
  }

  .xsmall {
    font-size: 12px;
    line-height: 13px;
  }

  .individual_font {
    font-size: 14px;
    line-height: 16px;
  }

  /* Buttons And Labels Hover Effects */

  button.size-button {
    font-size: 15px;
    line-height: 20px;
  }

  .ellipse {
    font-size: 30px;
    line-height: 40px;
    max-height: 61px;
  }

  a.ellipse {
    max-height: 55px;
    padding: 7px 10px;
  }

  .get-consult {
    width: 550px;
  }
}

@media (max-width: 1450px) {
  .xlarge {
    font-size: 120px;
    line-height: 130px;
  }
}

@media (max-width: 1350px) {
  .xlarge {
    font-size: 100px;
    line-height: 120px;
  }

  .large {
    font-size: 25px;
    line-height: 35px;
  }

  .middle {
    font-size: 17px;
    line-height: 24px;
  }

  .normal_sub,
  .normal_order {
    font-size: 13px;
    line-height: 16px;
  }

  .small_black {
    font-size: 11px;
    line-height: 13px;
  }

  .xsmall_light {
    font-size: 10px;
    line-height: 12px;
  }

  .percent {
    font-size: 12px;
    line-height: 14px;
  }

  .xsmall {
    font-size: 10px;
    line-height: 12px;
  }

  .individual_font {
    font-size: 11px;
    line-height: 13px;
  }

  /* Buttons And Labels Hover Effects */

  button.size-button {
    font-size: 12px;
    line-height: 17px;
  }

  .ellipse {
    font-size: 25px;
    line-height: 35px;
    max-height: 55px;
  }

  a.ellipse {
    max-height: 55px;
    padding: 7px 10px;
  }

  .get-consult {
    width: 350px;
  }
}

@media (max-width: 1180px) {
  .xlarge {
    font-size: 90px;
    line-height: 110px;
  }

  .large {
    font-size: 20px;
    line-height: 27px;
  }

  .middle {
    font-size: 13px;
    line-height: 17px;
  }

  .normal {
    font-size: 13px;
    line-height: 17px;
  }

  .normal_sub {
    font-size: 10px;
    line-height: 13px;
  }

  .normal_white {
    font-size: 10px;
    line-height: 13px;
  }

  .normal_order {
    font-size: 10px;
    line-height: 13px;
  }

  .small_black {
    font-size: 10px;
    line-height: 11px;
  }

  .xsmall_light {
    font-size: 9px;
    line-height: 10px;
  }

  .percent {
    font-size: 12px;
    line-height: 13px;
  }

  .xsmall {
    font-size: 7px;
    line-height: 8px;
  }

  .individual_font {
    font-size: 10px;
    line-height: 11px;
  }

  /* Buttons And Labels Hover Effects */

  button.size-button {
    font-size: 10px;
    line-height: 13px;
  }

  .ellipse {
    font-size: 20px;
    line-height: 27px;
    max-height: 39px;
  }

  a.ellipse {
    max-height: 35px;
    padding: 4px 10px;
  }

  .get-consult {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .xlarge {
    font-size: 60px;
    line-height: 75px;
  }

  .large {
    font-size: 15px;
    line-height: 20px;
  }

  .middle {
    font-size: 10px;
    line-height: 13px;
  }

  .normal,
  .normal_white {
    font-size: 8px;
    line-height: 11px;
  }

  .normal_sub,
  .normal_order {
    font-size: 7px;
    line-height: 9px;
  }

  .small_black,
  .xsmall_light,
  .percent,
  .individual_font {
    font-size: 7px;
    line-height: 8px;
  }

  .xsmall {
    font-size: 5px;
    line-height: 6px;
  }

  /* Buttons And Labels Hover Effects */

  button.size-button {
    font-size: 7px;
    line-height: 9px;
  }

  .ellipse {
    font-size: 15px;
    line-height: 20px;
    max-height: 30px;
  }

  a.ellipse {
    max-height: 27px;
    padding: 3px 10px;
  }

  .get-consult {
    width: 220px;
  }
}
@media (max-width: 520px) {
  .xlarge {
    font-size: 65px;
    line-height: 87px;
  }

  .large {
    font-size: 15px;
    line-height: 20px;
  }

  .middle,
  .normal,
  .normal_sub,
  .normal_white,
  .normal_order {
    font-size: 10px;
    line-height: 13px;
  }

  .small_black,
  .individual_font {
    font-size: 10px;
    line-height: 11px;
  }

  .xsmall_light {
    font-size: 9px;
    line-height: 10px;
  }

  .percent {
    font-size: 12px;
    line-height: 14px;
  }

  .xsmall {
    font-size: 7px;
    line-height: 8px;
  }

  button.size-button {
    font-size: 10px;
    line-height: 13px;
  }

  .ellipse {
    font-size: 15px;
    line-height: 20px;
    height: 30px;
  }

  .comparison-button-order {
    max-width: 125px;
  }

  .get-consult {
    width: 130px;
  }
}
