:root {
  --sub-textcolor: #646464;
  --second-textcolor: #313131;
  --green-color: #4daa6c;
  --lightgreen-color: #4ca96c;
  --orange-color: #feaa43;
  --pink-regular: #ff2257;
  --gradient-background: linear-gradient(
    90deg,
    rgb(37, 93, 183),
    rgb(82, 169, 229)
  );
  --gradient-text-color: linear-gradient(90deg, #265eb7 17.33%, #52aae5 90%);
  --gradient-background-button: linear-gradient(90deg, #255db7, #51a9e4);
}

h1,
h2,
h3,
h4,
p,
label {
  margin-top: 0;
  margin-bottom: 0;
}

.xlarge {
  height: 170px;
}

.large {
  font-size: 40px;
  line-height: 53px;
  color: var(--second-textcolor);
}

.middle {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: var(--sub-textcolor);
}

.normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--second-textcolor);
}

.normal_sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--sub-textcolor);
}

.normal_white {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.normal_order {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--green-color);
}

.small_black {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.xsmall_light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8f8f8f;
}

.percent {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--green-color);
}

.xsmall {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.individual_font {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1d1d1d;
}

.keen-slider__slide strong,
.keen-slider__slide b {
  color: rgba(49, 49, 49, 1);
}

.individual_font:hover {
  cursor: grab;
}

.individual_font:active {
  cursor: grabbing;
}

.center_align {
  text-align: center;
}

/* Links */

a {
  text-decoration: none;
}

/* Displaies */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.flex-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Buttons And Labels Hover Effects */

input {
  border: none;
  outline: none;
}

button {
  cursor: grab;
  border: none;
  background-color: transparent;
  padding: 0;
}

button:active {
  cursor: grabbing;
}

label {
  cursor: pointer;
}

button.size-button {
  font-weight: 800;
  color: #52aae5;
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ellipse {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  border-radius: 36.5px;
  height: 73px;
  box-sizing: border-box;
  text-align: center;
}

a.ellipse {
  color: #fff;
  background-image: var(--gradient-background-button);
  padding: 10px 20px;
}

.ellipse.white-button {
  background-color: #fff;
}

.ellipse.white-button span {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ellipse.pink-button {
  position: relative;
  background-image: var(--gradient-background);
}

.ellipse.pink-button span {
  position: relative;
  z-index: 2;
  background-image: var(--gradient-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: inherit;
  background-clip: text;
}

.ellipse.pink-button::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: rgba(255, 255, 255, 1);
  z-index: 1px;
  border-radius: inherit;
}

.comparison-button-order {
  max-width: 312px;
  width: 100%;
}

.get-consult {
  width: 550px;
}

.order_button {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.order_button:active {
  transform: scale(0.9);
}

/* Videos */

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* hr */

hr {
  margin-top: 14px;
  margin-bottom: 14px;
}

@media (min-width: 1700px) and (max-height: 1050px) {
  .xlarge {
    height: 150px;
  }
}

@media (max-width: 1600px) {
  .xlarge {
    height: 115px;
  }

  .large {
    font-size: 30px;
    line-height: 40px;
  }

  .middle {
    font-size: 20px;
    line-height: 27px;
  }

  .normal_sub,
  .normal_order {
    font-size: 15px;
    line-height: 20px;
  }

  .small_black {
    font-size: 15px;
    line-height: 17px;
  }

  .xsmall_light {
    font-size: 14px;
    line-height: 16px;
  }

  .percent {
    font-size: 16px;
    line-height: 18px;
  }

  .xsmall {
    font-size: 12px;
    line-height: 13px;
  }

  .individual_font {
    font-size: 14px;
    line-height: 16px;
  }

  /* Buttons And Labels Hover Effects */

  .ellipse {
    font-size: 30px;
    line-height: 40px;
    max-height: 61px;
  }

  a.ellipse {
    max-height: 55px;
    padding: 7px 10px;
  }

  .get-consult {
    width: 550px;
  }
}

@media (max-width: 1350px) {
  .xlarge {
    /* font-size: 100px;
    line-height: 120px; */
    height: 100px;
  }

  .large {
    font-size: 25px;
    line-height: 35px;
  }

  .middle {
    font-size: 17px;
    line-height: 24px;
  }

  .normal_sub,
  .normal_order {
    font-size: 13px;
    line-height: 16px;
  }

  .small_black {
    font-size: 11px;
    line-height: 13px;
  }

  .xsmall_light {
    font-size: 10px;
    line-height: 12px;
  }

  .percent {
    font-size: 12px;
    line-height: 14px;
  }

  .xsmall {
    font-size: 10px;
    line-height: 12px;
  }

  .individual_font {
    font-size: 11px;
    line-height: 13px;
  }

  /* Buttons And Labels Hover Effects */

  .ellipse {
    font-size: 25px;
    line-height: 35px;
    max-height: 55px;
  }

  a.ellipse {
    max-height: 55px;
    padding: 7px 10px;
  }

  .get-consult {
    width: 350px;
  }
}

@media (max-width: 1180px) {
  .xlarge {
    /* font-size: 90px;
    line-height: 110px; */
    height: 90px;
  }

  .large {
    font-size: 20px;
    line-height: 27px;
  }

  .middle {
    font-size: 13px;
    line-height: 17px;
  }

  .normal {
    font-size: 13px;
    line-height: 17px;
  }

  .normal_sub {
    font-size: 10px;
    line-height: 13px;
  }

  .normal_white {
    font-size: 10px;
    line-height: 13px;
  }

  .normal_order {
    font-size: 10px;
    line-height: 13px;
  }

  .small_black {
    font-size: 14px;
    line-height: 17px;
  }

  .xsmall_light {
    font-size: 13px;
    line-height: 15px;
  }

  .percent,
  .individual_font {
    font-size: 15px;
    line-height: 17px;
  }

  .xsmall {
    font-size: 12px;
    line-height: 15px;
  }

  /* Buttons And Labels Hover Effects */

  .ellipse {
    font-size: 20px;
    line-height: 27px;
    max-height: 39px;
  }

  a.ellipse {
    max-height: 35px;
    padding: 4px 10px;
  }

  .get-consult {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .xlarge {
    /* font-size: 60px;
    line-height: 75px; */
    height: 60px;
  }

  .large {
    font-size: 15px;
    line-height: 20px;
  }

  .middle {
    font-size: 10px;
    line-height: 13px;
  }

  .normal,
  .normal_white {
    font-size: 8px;
    line-height: 11px;
  }

  .normal_sub,
  .normal_order {
    font-size: 7px;
    line-height: 9px;
  }

  .small_black,
  .xsmall_light,
  .percent,
  .individual_font {
    font-size: 7px;
    line-height: 8px;
  }

  .xsmall {
    font-size: 5px;
    line-height: 6px;
  }

  /* Buttons And Labels Hover Effects */

  .ellipse {
    font-size: 15px;
    line-height: 20px;
    max-height: 30px;
  }

  a.ellipse {
    max-height: 27px;
    padding: 3px 10px;
  }

  .get-consult {
    width: 220px;
  }
}
@media (max-width: 520px) {
  .xlarge {
    height: 95px;
  }

  .normal_white,
  .normal,
  .large,
  .normal_sub,
  .middle,
  .normal_order {
    font-size: 22px;
    line-height: 29px;
  }

  .small_black,
  .percent,
  .individual_font {
    font-size: 18px;
    line-height: 23px;
  }

  .xsmall_light,
  .xsmall {
    font-size: 14px;
    line-height: 17px;
  }

  .xsmall {
    padding-bottom: 3px;
  }

  button {
    text-transform: uppercase;
  }

  .size-button {
    text-transform: none;
  }

  .ellipse {
    font-size: 25px;
    line-height: 29px;
    max-height: 50px !important;
    max-width: 240px !important;
  }

  .get-consult {
    font-size: 22px;
    max-width: 190px !important;
    max-height: 35px !important;
  }
}
