:root {
    --sub-textcolor: #646464;
    --second-textcolor: #313131;
    --green-color: #4DAA6C;
    --orange-color: #FEAA43;
}

h1,
h2,
h3,
h4,
p,
label {
    margin-top: 0;
    margin-bottom: 0;
}

.xlarge {
    font-weight: 400;
    font-size: 170px;
    line-height: 227px;
    color: #262626;
}

.large {
    font-size: 40px;
    line-height: 53px;
    color: var(--second-textcolor);
}

.large_order {
    display: inline-block;
    width: max-content;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    padding: 8px 25px;
    border-radius: 35px;
    color: #FFFFFF;
    background-color: #4DAA6C;
}

.middle {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--sub-textcolor);
}

.normal {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--second-textcolor);
}

.normal_sub {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--sub-textcolor);
}

.normal_order {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--green-color);
}

.small_black {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.xsmall_light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #8F8F8F;
}

.percent {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--green-color);
}

.xsmall {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

.individual_font {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1d1d1d;
}

.individual_font:hover {
    cursor: grab;
}

.individual_font:active {
    cursor: grabbing;
}

/* Links */

a {
    text-decoration: none;
}

/* Buttons */

button {
    font-family: 'Playfair Display';
    border: none;
}

button:hover {
    cursor: grab;
}

button:active {
    cursor: grabbing;
}

a.forClick,
button.forClick {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    background-color: #FF2257;
    border-radius: 36px;
}

button.forClick.pink {
    background-color: #FFFFFF;
    color: #FF2257;
}

button.forClick.sliderButton {
    padding: 8px 15px;
}


@media (min-width: 1451px) and (max-width: 1600px) {
    .xlarge {
        font-size: 135px;
        line-height: 180px;
    }

    .large {
        font-size: 30px;
        line-height: 40px;
    }

    .large_order {
        font-size: 30px;
        line-height: 43px;
        padding: 5px 18px;
    }

    .middle {
        font-size: 25px;
        line-height: 33px;
    }

    .normal_sub {
        font-size: 15px;
        line-height: 20px;
    }

    .normal_order {
        font-size: 15px;
        line-height: 20px;
    }

    .small_black {
        font-size: 15px;
        line-height: 17px;
    }

    .xsmall_light {
        font-size: 14px;
        line-height: 16px;
    }

    .percent {
        font-size: 16px;
        line-height: 18px;
    }

    .xsmall {
        font-size: 12px;
        line-height: 13px;
    }

    .individual_font {
        font-size: 15px;
        line-height: 18px;
    }

    a.forClick,
    button.forClick {
        font-size: 30px;
        line-height: 40px;
    }
}