/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* General Settings */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, yellow, blue);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Playfair Display", serif;
}

.mobile {
  display: none;
}

/* Header */

header.header {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  background-color: #f5f3f4;
  overflow-x: hidden;
}

.header-text {
  padding-top: 170px;
  position: relative;
  z-index: 2;
}

header .achivments {
  column-gap: 175px;
  position: relative;
  z-index: 2;
}

.header-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  z-index: 1;
}

.header-photo img {
  max-width: 960px;
  width: 100%;
}

.header-photo .link {
  position: absolute;
  right: 0;
  bottom: 35px;
  left: 0;
}

/* Choose Language Block */

.languages {
  box-sizing: border-box;
  position: absolute;
  top: 77px;
  right: 230px;
  width: 87px;
  height: 45px;
  border-radius: 22.5px;
  column-gap: 11px;
  background-color: #172853;
  z-index: 4;
  padding-left: 4px;
  padding-right: 5px;
}

.languages a {
  background-color: transparent;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.languages a.selected-language {
  padding: 4px;
  border-radius: 50%;
  color: #172853;
  background-color: #feaa43;
}

/* Pseudo Eleemnts ( Figures ) */

.pseudo {
  position: absolute;
}

.left-top-white {
  top: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 130px;
  box-sizing: border-box;
}

.left-top-white img {
  height: 100%;
}

.left-top-orange {
  top: 96px;
  left: 311px;
}

.left-top-orange img {
  height: 100%;
  width: 100%;
}

.right-top-white {
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-bottom: 385px;
}

.right-top-white img {
  height: 100%;
}

.right-top-blue {
  height: 300px;
  width: 300px;
  top: 92px;
  right: -15px;
  background-color: #172853;
  clip-path: circle(50% at 100% 50%);
}

.right-bottom-orange {
  right: 110px;
  bottom: 185px;
  z-index: 1;
}

.right-bottom-orange img {
  width: 100%;
  height: 100%;
}

.right-bottm-white {
  height: 320px;
  width: 320px;
  right: 0px;
  bottom: 105px;
  clip-path: circle(49.6% at 89% 50%);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

/* Main Section */

main.main {
  padding-top: 190px;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 50%;
  height: 70px;
  border: 1px solid var(--second-textcolor);
  background-color: var(--second-textcolor);
  transform: translateX(-1px);
}

/* About Us */

.about_us {
  padding-bottom: 70px;
}

.about_us-text {
  row-gap: 10px;
  margin-bottom: 60px;
}

.about_us-achivments {
  align-items: flex-start;
  gap: 70px;
}

.about_us-achivments-cell {
  row-gap: 75px;
}

.about_us-achivments-cell video {
  object-fit: cover;
  max-height: 100%;
}

.cell-video-1 video {
  /* border: 2px solid #00ac69; */
  box-shadow: 0px 0px 4px 2px #00ac69;
}

.cell-video-2 video {
  box-shadow: 0px 0px 4px 2px #feaa43;
}

.cell-video-3 video {
  box-shadow: 0px 0px 4px 2px #89d5ff;
}

.cell-text {
  row-gap: 13px;
}

/* Order Now Section */

.order_now {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ff2d5f;
}

.order_now-text {
  column-gap: 55px;
  width: 50%;
  justify-content: end;
}

.text .large {
  color: #fff;
}
.order_now-button {
  width: 50%;
}

.order_now-button button {
  max-width: 400px;
  width: 100%;
}

/* Comparison */

/* Comparison global section */

.comparison {
  box-sizing: border-box;
  margin-top: 125px;
  padding-bottom: 230px;
}

.comparison-section {
  column-gap: 88px;
}

/* Parents Comparison Block */

.parents-comparison-section {
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: 130px;
  background-color: #fbfbfd;
}

/* Comparisons images */
.comparison-images {
  position: relative;
  max-width: min-content;
}

.comparison-images img:first-child {
  max-width: 100%;
}

.comparison-images img {
  min-width: 100%;
}

/* Block with painting image */
.image-comparison_before {
  max-width: 100%;
  width: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* Comparison button */
.comparison-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: #fff;
  width: 4px;
  padding: 0;
}

/* Comparison button circle */
.comparison-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}

/* Hover effects */

.comparison-button:hover,
.comparison-button:hover.comparison-button::before {
  background-color: #ccc;
  cursor: col-resize;
}

/* Right column - text-column */
.text-comparison {
  text-align: center;
  max-width: 406px;
}

.text-comparison button {
  max-width: 312px;
  width: 100%;
  margin-top: 50px;
}

/* Obligations */

.obligations {
  padding-top: 21px;
  padding-bottom: 40px;
  background-color: #fbfbfd;
}

/* Obligations Headers Paragraph */
.obligations-text p {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* Obligations Table */
.obligations-table {
  gap: 42px;
  align-items: flex-start;
}

/* Image Block Settings */
.image {
  height: 107px;
  margin-bottom: 10px;
}

.image img {
  max-height: 100%;
}

/* Text Color */
.obligations .text p::first-letter,
.obligations .text p b {
  font-weight: 700;
  color: #ff2257;
}

/* Carousels */

.carousels {
  padding-top: 125px;
  padding-bottom: 125px;
}

/* Carousels Header */

/* Tassel */
.tassel {
  width: fit-content;
  column-gap: 25px;
  border-bottom: 1px solid black;
  position: relative;
}

.tassel::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 45px;
  background-color: #fff;
  z-index: 2;
}

/* Carousels Header Sub */
.carousels-header-sub {
  margin-top: 10px;
  margin-bottom: 115px;
}

/* Sliders Wrapper */
.slider-wrapper {
  padding-left: 220px;
  padding-right: 220px;
  box-sizing: border-box;
}

/* Slider Size Item Settings */

.slider_size_item {
  position: relative;
  width: max-content;
  height: max-content;
}

/* Distance Between 2 Items */

/* .slider_size_item {
  margin-left: 25px;
} */

/* Slider Size Text Settings */

.slider_size_item_text {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 2;
}

/* SLider Size Images ettings */

.slider_size_item img {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 660px;
  width: 100%;
}

/* Slider With Videos */

.video-process .middle {
  margin-top: 10px;
  margin-bottom: 65px;
}

.video-slider {
  margin-bottom: 65px;
}

/* .slider_video_item + .slider_video_item {
  margin-left: 30px;
} */

.slider_video_item video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider_video_button {
  max-width: 285px;
  width: 100%;
}

/* Order */

/* Order Section Caption */

.order-caption {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #fbfbfd;
}

/* Order Section Headline */

.order-caption .large {
  margin-bottom: 10px;
}

/* Order Section Constructor ( Cards , Peoples etc ) */

.order-constructor {
  padding-top: 160px;
  padding-bottom: 100px;
}

/* Cards With Material */

.cards-material {
  column-gap: 100px;
}

.card {
  position: relative;
}

/* Top Right Popular */

.card-coal::after {
  content: "ПОПУЛЯРНИЙ";
  position: absolute;
  top: 0;
  right: 5px;
  transform: translateY(-100%);
  padding: 4px 15px 0;
  background-color: var(--lightgreen-color);
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Inputs And Lables */

.card-input,
.card-label {
  position: absolute;
  top: 0;
  left: 0;
}

.card-input {
  z-index: 1;
  opacity: 0;
}

.card-label {
  right: 0;
  bottom: 0;
  z-index: 2;
  max-width: 474px;
  max-height: 320px;
}

/* Popular Material Border */

.card-coal .card-label {
  box-sizing: border-box;
  border: 3px solid var(--lightgreen-color);
  box-shadow: 0px 0px 5px var(--lightgreen-color);
}

/* Selected Material */

.card-input:checked ~ label.card-label,
.card label:hover {
  background-color: rgba(45, 255, 205, 0.25);
  border: 6px solid #4ca96c;
}

/* Text Sub Cards */

.card-sub {
  position: absolute;
  right: 0;
  bottom: 18px;
  left: 0;
  font-weight: 900;
  font-size: 25px;
  line-height: 33px;
  color: #fff;
}

/* Count Peoples */

.constructor-wrapper {
  display: flex;
  padding-left: 530px;
  align-items: center;
}

.peoples {
  column-gap: 35px;
  margin-top: 65px;
  margin-bottom: 20px;
}

/* Peoples Buttons */
.peoples button {
  cursor: pointer;
  position: relative;
}

/* More Peoples Button */
.more-peoples::after {
  content: "+";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 40%);
  color: #00ac69;
  font-weight: 900;
  font-size: 27px;
}

/* Table Cost Size */

.size-tabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* Tabel Wrapper Create A Table */

.size-cost-block {
  grid-template-columns: repeat(3, 195px);
  column-gap: 20px;
  row-gap: 30px;
  display: none;
}

.size-cost-block.active {
  display: grid;
}

/* Table Cell */

.tabel-size-cell {
  padding: 8px;
  border-radius: 13px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #b0b0b0;
  max-height: 66px;
  height: 100%;
}

/* Top Part Cell */

.top-part-cell {
  padding: 2px 5px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 4px;
}

/* Bottom Part Cell */

.tabel-size-cell .flex-end {
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

/* Cell Popular Size */

.cell-popular-size {
  position: relative;
}

.cell-popular-size::after {
  content: "ПОПУЛЯРНИЙ";
  position: absolute;
  right: 5px;
  bottom: 0;
  transform: translateY(100%);
  padding: 3px 5px;
  background-color: var(--lightgreen-color);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

/* Create Paintig Section */

.createPainting {
  column-gap: 100px;
  padding-top: 46px;
  padding-bottom: 64px;
  background-color: #ff2257;
}

.createPainting-text .large {
  color: #fff;
}

/* Section Comparison Dog */

.dog-comparison {
  margin-top: 100px;
  padding-bottom: 160px;
}

/* Slider Sizes Bottom */

.sizes-slider-bottom {
  margin-bottom: 50px;
}

/* Section Order Now Bottom */

.order_now-bottom {
  margin-bottom: 90px;
}

.order_now-bottom * {
  color: #ff2d5f;
}

/* Footer */

footer.footer {
  padding: 18px 230px 22px;
  background-color: #fbfbfd;
}

.footer .links {
  column-gap: 20px;
}

.links .links-items {
  column-gap: 6px;
}

/* Consult */

/* Consult wrapper */

.consult {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Consult blur */
.consult::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  z-index: 1;
}

/* Our Menu */
.consult-info {
  box-sizing: border-box;
  max-height: 530px;
  height: 100%;
  max-width: 385px;
  width: 100%;
  padding: 15px 70px 30px;
  background-color: #fbfbfb;
  border-radius: 42px;
  border: 0.5px solid var(--pink-regular);
  box-shadow: 0px 0px 7px var(--pink-regular);
  position: relative;
  z-index: 2;
}

/* Menu Header */
.consult-info h2 {
  color: var(--second-textcolor);
  font-weight: 700;
}

/* Palit Image */
.consult_image {
  max-height: 58px;
  height: 100%;
  max-width: 58px;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 15px;
}

/* Forms Text Inputs */
.userInfo {
  position: relative;
  margin-bottom: 25px;
}

/* Inputs */
.userInfo-input {
  position: relative;
  font-size: 25px;
  line-height: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-color: transparent;
  transition: all 0.5s ease;
}

/* Lables */
.userInfo-label {
  color: var(--sub-textcolor);
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 1s ease;
}

/* Little Animation. Up Lable */
.userInfo-input:focus + .userInfo-label,
.userInfo-input:valid + .userInfo-label {
  transform: translateY(-25px) scale(0.8);
  opacity: 0.5;
}

.userInfo::after {
  content: "*";
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
}

.userInfo.valid::after {
  color: green;
}

/* Example */
.userInfo p {
  position: absolute;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  bottom: -21px;
  left: 0;
  color: var(--pink-regular);
}

.userInfo-input:valid ~ .example {
  color: green;
}

/* How To Connect */

.contact {
  margin-top: 40px;
  color: var(--second-textcolor);
}

/* Massangers Block */
.massangers {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  column-gap: 45px;
}

.massanger_images {
  position: relative;
}

/* Input Contact */
.massanger_images input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

/* Messangers Icons */
.massangers label img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Contact Label For Checked Input */

.massanger_images input:checked ~ label img {
  box-shadow: 0 0 10px var(--pink-regular);
}

/* Button Submit */
.submit {
  max-width: 245px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: 30px;
  line-height: 40px;
  box-shadow: 0 0 6px rgba(220, 93, 93, 0.75);
}

/* Button Close Menu */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

/* Close Image X */
.close img {
  height: 17px;
  width: 17px;
}
