@media (min-width: 550px) and (max-width: 768px) {
  .media {
    display: block;
  }

  header.header {
    padding: 80px 160px 0px;
  }

  .achivments {
    gap: 70px;
  }

  .header-photo img {
    height: 340px;
  }

  .pseudoTopLeft img {
    height: 440px;
  }

  .pseudoTopLeftCenter {
    top: 40px;
    left: 125px;
  }

  .pseudoTopLeftCenter img {
    height: 94px;
  }

  .pseudoRightTop img {
    height: 370px;
  }

  .pseudoRightBottom {
    right: 44px;
    bottom: 75px;
  }

  .pseudoRightBottom img {
    height: 46px;
  }

  .pseudoRadiusWhite {
    height: 130px;
    width: 130px;
    bottom: 40px;
  }

  .pseudoRadiusBlue {
    height: 180px;
    width: 180px;
    top: 37px;
    right: -25px;
  }

  /* Main */

  main {
    padding-top: 70px;
  }

  main::before {
    top: 45px;
    width: 28px;
    transform: rotate(90deg) translateY(-14px);
  }

  .container {
    padding-right: 90px;
    padding-left: 90px;
  }

  /* About us */

  .about_us {
    padding-bottom: 30px;
  }

  .report {
    padding-top: 0;
    gap: 25px;
  }

  .report_cell {
    padding-top: 18px;
  }

  .report_cell_image img {
    max-width: 180px;
  }

  .report_cell_image a {
    height: 36px;
    width: 36px;
  }

  .video-link {
    bottom: -18px;
  }

  .report_cell_text {
    margin-top: 30px;
    height: 40px;
  }

  /* Order Now */

  .order_now {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .order_now img {
    width: 50px;
  }

  /* Comparison */

  .comparison {
    row-gap: 22px;
    column-gap: 35px;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .comparison .image_comparison {
    max-width: 380px;
    max-height: 295px;
  }

  .comparison .middle {
    font-size: 12px;
    line-height: 16px;
  }

  /* Obligations */

  .obligations {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .obligations .achivments {
    gap: 17px;
  }

  .obligations .cell {
    height: 100%;
    min-width: 0px;
    max-width: 125px;
  }

  .obligations .cell img {
    min-height: 0px;
    max-height: 43px;
  }

  /* Gift */

  .pencil {
    align-items: flex-end;
  }

  .pencil img {
    width: 21px;
  }

  .gift h2.large {
    width: 260px;
    border-bottom: 1px solid black;
    height: 20px;
  }

  .slider_photo_item {
    max-height: 220px;
  }

  .slider_photo_item img {
    width: 100%;
    max-height: 200px;
    height: 100%;
  }

  .slider_photo_item {
    margin-right: 13px;
  }

  /* Стрелка */
  .slick-arrow {
    top: 100px;
    width: 21px;
    height: 21px;
  }

  .slider_photo + .slider-button {
    margin-top: 13px;
    margin-bottom: 75px;
  }

  .slider_size_item {
    padding-top: 30px;
    max-width: 360px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    margin-left: 17px;
  }

  .slider_size_item img {
    max-width: 170px;
  }

  .slider_size .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }

  /* Элемент точки */
  .slider_size .slick-dots li button {
    width: 7px;
    height: 7px;
  }

  .video-process {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .slider_video_item + .slider_video_item {
    margin-right: 13px;
  }

  .slider_video_item img {
    max-width: 170px;
    width: 100%;
  }

  .slider_video + .slider-button {
    margin-top: 35px;
    margin-bottom: 75px;
  }

  /* Order */

  #order {
    margin-top: 0;
  }

  #order .middle {
    max-width: 280px;
  }

  .constructor-section {
    padding-top: 50px;
  }

  /* Cards */

  .cards {
    gap: 40px;
    justify-content: center;
  }

  .cards .card {
    max-width: 190px;
    max-height: 130px;
  }

  /* Card status popular */
  .card-material-label.popular_material:after {
    font-size: 6px;
    line-height: 8px;
    top: -10px;
    right: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px;
  }

  /* Grid section with choose format */

  .choose-grid {
    column-gap: 10px;
    row-gap: 15px;
  }

  .people {
    margin-right: 16px;
  }

  .humans-count::before {
    content: url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp")
      url("../images/webp/greyManMini.webp");
    display: block;
    height: 40px;
  }

  .humans-count-label::before {
    content: url("../images/webp/greyManMini.webp");
  }

  .humans-count-item:checked,
  .humans-count-item:checked ~ .humans-count-label {
    content: url("../images/webp/greenManMini.webp");
  }

  .humans-count-label:hover,
  .humans-count-label:hover ~ .humans-count-label,
  .humans-count-label:checked ~ .humans-count-label:hover {
    content: url("../images/webp/greenManMini.webp");
  }

  .size_choose {
    max-width: 80px;
    max-height: 27px;
    padding: 3px 4px;
    border-radius: 7px;
  }

  /* createPainting */

  .createPainting {
    padding: 21px 105px 23px;
  }

  .createPainting p {
    font-size: 8px;
    line-height: 11px;
  }

  /* Footer */

  footer img {
    height: 15px;
  }

  footer .links a:nth-child(2) {
    margin-right: 1px;
    margin-left: 1px;
  }
}
