/* Mobile Version */
@media (max-width: 520px) {
  .screen {
    display: none;
  }
  .mobile {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  header,
  .about_us,
  .sizes-slider,
  .obligations,
  .video-process,
  .video-slider,
  .slider-button,
  .achivments_mobile,
  .comparison,
  .order,
  .get-consult-mobile,
  .order_now-bottom {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* Header */

  header.header {
    padding-bottom: 100px;
    height: fit-content;
    background-color: #ffffff;
  }

  /* Header Text Block */
  .header-text {
    padding-top: 27px;
    padding-bottom: 15px;
  }

  /* Images Header Slider */

  .header .images-slider {
    position: relative;
    z-index: 4;
  }

  .images-slider {
    margin-bottom: 30px;
  }

  /* Sliders General Settings */

  /* Slider settings */

  /* Siiders Items (Items Max Width) and Ограничивающая Оболочка */
  .slider_photo_item,
  .slider_video_item,
  .slider_size_item img {
    max-width: 390px;
    width: 100%;
  }

  .slider_video_item {
    max-height: 490px;
  }

  /* Photos Slider */
  .slider_photo {
    margin-bottom: 10px;
  }

  /* Slider Video Button */

  .slider_video_button {
    margin-bottom: 35px;
  }

  /* Text Settings */
  .slider_item_text {
    margin-top: 20px;
  }

  /* Button Under The Slider With Photos */

  .slider_photo_button {
    max-width: 210px;
  }

  /* Button Want A Paint */

  .order_now-button {
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 17px;
  }

  .order_now-button button {
    width: 100%;
    font-size: 22px;
    line-height: 29px;
    max-height: 50px;
    height: 50px;
  }

  .header .cell img {
    width: 25px;
    height: 25px;
  }

  /* Bottom order_now section */

  /* Section Order Now */
  .order_now-bottom.bottom {
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Order Now Button */
  .order_now-bottom.bottom button {
    margin-top: 14px;
  }

  /* Pseudo Eleemnts ( Figures ) */

  .left-top-orange {
    width: 87px;
    height: 94px;
    top: 90px;
    left: -40px;
  }

  .left-top-orange img {
    transform: rotate(-60deg);
  }

  .right-top-white {
    max-height: 340px;
    height: 100%;
    padding-bottom: 0;
  }

  .right-top-white img {
    max-width: 319px;
  }

  .right-top-blue-mobile {
    width: 130px;
    height: 130px;
    bottom: 100px;
    right: -100px;
    background-color: #172853;
    border-radius: 50%;
    z-index: 5;
  }

  /* Main */

  main.main {
    padding-top: 0px;
  }

  main::before {
    top: -73px;
    height: 27px;
    border-right-width: 0.5px;
    border-left-width: 0.5px;
  }

  /* About Us */

  .about_us {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #f5f3f4;
  }

  .about_us-text {
    margin-bottom: 0;
    row-gap: 0px;
    max-width: 410px;
  }

  .cv {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 376px;
    margin-bottom: 75px;
  }

  /* Section With Photo */

  .about_us .photo_from_header {
    position: relative;
    height: max-content;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  /* Photo Settings */

  .about_us .photo_from_header img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  /* Slider With Sizes  */
  /* Slider Size Text Settings */

  .sizes-slider h3 {
    font-size: 28px;
    line-height: 37px;
  }

  .sizes-slider .normal_sub {
    font-size: 15px;
    line-height: 20px;
  }

  .slider_size_item_text {
    top: 10px;
  }

  /* Video Process Text */

  .video-process .middle {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  /* Slider With Videos Achivments */

  .achivments_mobile {
    background-color: #fbfbfb;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 20px;
  }

  .achivments_mobile img {
    width: 30px;
    height: 30px;
  }

  /* Video SLider With Our Achivments */
  .video-slider-achivment {
    margin-top: 40px;
  }

  /* Comparison */
  .comparison {
    margin-top: 14px;
    padding-bottom: 25px;
  }
  .comparison-section {
    flex-direction: column-reverse;
  }

  .comparison-images {
    max-width: 460px;
    width: max-content;
    text-align: center;
  }

  .comparison-images img {
    min-width: 0px;
    width: 378px;
    height: 500px;
  }

  .comparison-images:nth-child(3) img {
    height: 529px;
  }

  /* Comparison button */
  .comparison-button {
    width: 4px;
  }

  /* Comparison button circle */
  .comparison-button::before {
    width: 30px;
    height: 30px;
  }

  .parents-comparison-section {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  /* Text Under The Comparison */

  .text-comparison {
    margin-bottom: 10px;
    max-width: 520px !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Button Get Order */

  .parents-comparison-section .ellipse,
  .pair-comparison-section .ellipse {
    margin-top: 30px;
  }

  .pair-comparison-section button.mobile {
    margin-top: 20px;
  }

  .dog-comparison {
    row-gap: 60px;
  }

  .dog-comparison .text-comparison {
    margin-bottom: 30px;
  }

  /* Order */

  /* Order Section Caption */

  .order-caption {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
  }

  .order-caption .large {
    margin-bottom: 5px;
  }

  /* Order Section Constructor ( Cards , Peoples etc ) */

  .order-constructor {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  /* Tabs Section */

  .cards-material.mobile {
    column-gap: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* Tabs */

  /* Label */

  .tab-label {
    font-size: 22px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
  }

  /* Selected Material */

  .card-input:checked ~ label {
    color: var(--green-color);
  }

  /* Table Cost Size */

  .size-tabel {
    padding-top: 45px;
  }

  /* Tabel Wrapper Create A Table */

  .size-cost-block {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }

  /* Table Cell */

  .tabel-size-cell {
    padding: 10px 10px 6px;
    border-radius: 7px;
    max-height: 68px;
    width: 170px;
    box-sizing: border-box;
  }

  /* Top Part Cell */

  .top-part-cell {
    padding: 2px 4px;
  }

  /* Bottom Part Cell */

  .tabel-size-cell .flex-end {
    padding-left: 2px;
    padding-right: 2px;
  }

  /* Cell Popular Size */

  .cell-popular-size {
    position: relative;
  }

  .cell-popular-size::after {
    content: "";
    padding: 0;
  }

  /* Get Consult Mobile Section */

  .get-consult-mobile {
    display: flex;
    padding: 10px 10px 22px;
    row-gap: 10px;
    background-color: var(--pink-regular);
    margin-bottom: 40px;
  }

  .get-consult-mobile-text * {
    color: #fff;
  }

  .get-consult-mobile h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
  }

  /* Obligations */

  .obligations {
    padding-top: 25px;
    padding-bottom: 70px;
    background-color: #ffffff;
  }

  /* Obligations Table */
  .obligations-table {
    margin-top: 20px;
    gap: 30px;
    align-items: center;
  }

  /* Image Block Settings */
  .image {
    height: 35px;
    margin-bottom: 3px;
  }

  .image img {
    height: 35px;
    width: auto;
  }

  .obligations .text p,
  .obligations .text p::first-letter {
    color: #6c6c6c;
    font-weight: 400;
  }

  .obligations .text p b {
    color: #000000;
  }

  /* Footer */

  footer.footer {
    padding: 8px 10px 12px;
  }

  footer.footer .normal {
    font-size: 22px;
    line-height: 29px;
  }

  .footer .links {
    column-gap: 10px;
  }

  .links .links-items {
    column-gap: 2px;
  }

  .links .links-items img {
    width: 40px;
    height: 40px;
  }

  /* Consult */

  /* Our Menu */
  .consult-info {
    max-height: 100%;
    height: 520px;
    width: 80vw;
    max-width: 100%;
    padding: 30px 34px;
    border-radius: 16px;
  }

  .consult-info h2.middle {
    font-size: 22px;
    line-height: 29px;
  }

  /* Palit Image */
  .consult_image {
    max-height: 70px;
    max-width: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  /* Forms Text Inputs */
  .userInfo {
    margin-bottom: 30px;
  }

  /* Inputs And Lables*/
  .userInfo-input,
  .userInfo-label {
    font-size: 22px;
    line-height: 29px;
  }

  /* Little Animation. Up Lable */
  .userInfo-input:focus + .userInfo-label,
  .userInfo-input:valid + .userInfo-label {
    transform: translateY(-25px) scale(0.8);
  }

  .userInfo::after {
    font-size: 22px;
  }

  /* How To Connect */

  .contact {
    margin-top: 25px;
    font-size: 22px;
    line-height: 29px;
  }

  /* Messengers Block */
  .messengers {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 45px;
    column-gap: 40px;
  }

  /* Messengers Icons */
  .messengers img {
    width: 45px;
    height: 45px;
  }

  /* Selected Messangers */
  #selectedMessenger {
    font-size: 22px;
    line-height: 29px;
    bottom: -40px;
  }

  /* Button Submit */
  .submit {
    max-width: 230px;
    max-height: 45px !important;
    font-size: 22px;
    line-height: 29px;
    margin-top: 10px;
  }

  /* Button Close Menu */
  .close {
    top: 20px;
    right: 20px;
  }

  /* Close Image X */
  .close img {
    height: 15px;
    width: 15px;
  }
}

/* Mobile Version Horizontal */
@media (max-height: 480px) and (orientation: landscape) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-text {
    padding-top: 0px;
  }

  .header-photo {
    display: none;
  }

  .pseudo {
    display: none;
  }
}

@media (max-width: 380px) {
  .consult-info {
    height: 80vh;
    justify-content: flex-start;
  }

  /* Text Under The Comparison */

  .text-comparison {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 380px) and (max-height: 520px) {
  .consult-info {
    height: 95vh;
  }
}
