@media (min-width: 1060px) and (max-width: 1450px) {
  .media {
    display: block;
  }

  header.header {
    padding: 130px 140px 0px;
  }

  .achivments {
    gap: 100px;
  }

  .header-photo img {
    height: 400px;
  }

  .pseudoTopLeft img {
    height: 600px;
  }

  .pseudoTopLeftCenter {
    top: 70px;
    left: 200px;
  }

  .pseudoTopLeftCenter img {
    height: 140px;
  }

  .pseudoRightTop img {
    height: 550px;
  }

  .pseudoRightBottom {
    right: 70px;
  }

  .pseudoRightBottom {
    height: 70px;
  }

  .pseudoRadiusWhite {
    height: 200px;
    width: 200px;
    bottom: 70px;
  }

  .pseudoRadiusBlue {
    height: 250px;
    width: 250px;
    top: 70px;
    right: -15px;
  }

  /* Main */

  main::before {
    top: 50px;
    width: 50px;
    transform: rotate(90deg) translateY(-25px);
  }

  .wrapper {
    padding-top: 90px;
  }

  .container {
    padding-right: 120px;
    padding-left: 120px;
  }

  /* About us */

  .report {
    gap: 40px;
  }

  .report_cell {
    padding-top: 30px;
    max-width: max-content;
  }

  .report_cell_image img {
    max-width: 300px;
  }

  .report_cell_image a {
    height: 60px;
    width: 60px;
  }

  .video-link {
    bottom: -30px;
  }

  .report_cell_text {
    margin-top: 50px;
    height: 80px;
  }

  /* Order Now */

  .order_now {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .order_now img {
    width: 80px;
  }

  .order_now_right .forClick {
    font-size: 35px;
    line-height: 47px;
  }

  /* Comparison */

  .comparison {
    row-gap: 40px;
    column-gap: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 120px;
  }

  .comparison .image_comparison {
    max-width: 800px;
    max-height: 612px;
  }

  /* Obligations */

  .obligations {
    padding-top: 18px;
    padding-bottom: 32px;
  }

  .obligations .achivments {
    gap: 35px;
    min-height: max-content;
    align-items: center;
  }

  .obligations .cell {
    height: 100%;
    min-width: 0px;
    max-width: 220px;
  }

  .obligations .cell img {
    min-height: 0px;
    max-height: 75px;
  }

  /* Gift */

  .pencil {
    align-items: flex-end;
  }

  .pencil img {
    width: 40px;
  }

  .gift h2.large {
    width: 500px;
    border-bottom: 2px solid black;
    height: 40px;
  }

  .slider_photo_item {
    max-height: 350px;
  }

  .slider_photo_item img {
    width: 100%;
  }

  /* Стрелка */
  .slick-arrow {
    top: 150px;
    width: 28px;
    height: 28px;
  }

  .slider_photo + .slider-button {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .slider_size_item {
    padding-top: 50px;
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    margin-left: 27px;
  }

  .slider_size_item img {
    max-width: 350px;
  }

  .slider_size .slick-arrow {
    top: 50%;
    transform: translateY(-17.5px);
  }

  .video-process {
    margin-top: 55px;
    margin-bottom: 30px;
  }

  .slider_video_item + .slider_video_item {
    margin-right: 26px;
  }

  .slider_video_item img {
    max-width: 350px;
    width: 100%;
  }

  .slider_video + .slider-button {
    margin-top: 35px;
    margin-bottom: 40px;
  }

  /* Order */

  #order {
    margin-top: 20px;
  }

  #order .middle {
    font-size: 20px;
    line-height: 27px;
    max-width: 580px;
    margin-top: 5px;
  }

  .constructor-section {
    padding-top: 50px;
  }

  /* Cards */

  .cards {
    gap: 35px;
  }

  /* Grid section with choose format */

  .choose-grid {
    column-gap: 18px;
    row-gap: 25px;
  }

  .people {
    margin-right: 65px;
  }

  .size_choose {
    max-width: 175px;
    max-height: 60px;
  }

  /* createPainting */

  .createPainting {
    padding: 35px 80px 40px;
  }

  .createPainting p {
    font-size: 15px;
    line-height: 20px;
  }

  /* Footer */

  footer .links a:nth-child(2) {
    margin-right: 8px;
    margin-left: 15px;
  }
}

@media (min-width: 1060px) and (max-width: 1130px) {
  .createPainting {
    padding-left: 50px;
    padding-right: 50px;
  }

  .createPainting button {
    font-size: 26px;
    line-height: 35px;
  }
}
